In [10]:
import pandas as pd

In [11]:
# List of high schools - pandas practice 
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", 
                "Bailey High School", "Holden High School", "Pena High School", "Wright High School",
                "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [14]:
school_series = pd.Series(high_schools)

In [15]:
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [16]:
for school in school_series: 
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [17]:
# A dictionary of high schools 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [22]:
school_df = pd.DataFrame(high_school_dicts)

In [23]:
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [24]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [25]:
# Initialize a new dataframe 
schools_df = pd.DataFrame()

In [26]:
schools_df

Empty DataFrame
Columns: []
Index: []

In [27]:
schools_df["School ID"] = school_id
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [28]:
schools_df["School Name"] = school_name

In [29]:
schools_df["School Type"] = type_of_school
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [30]:
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [31]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [34]:
import pandas as pd
import os

In [36]:
student_data = os.path.join("Bootcamp", "new_student_data.csv")
student_df = pd.read_csv(student_data)

FileNotFoundError: [Errno 2] No such file or directory: 'Bootcamp\\new_student_data.csv'